# ignore vs-code settings
.vscode/

# ignore the latex build
build/

# ignore latexindent log
src/indent.log

# ignore pycache
python_scripts/pde_plot/__pycache__/
python_scripts/pde_plot/.DS_store